body {
    background-color: black;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    height: 1000px;
    width: 1700px;
}

.left {
    font-weight: bold;
    color: white;
    background-image: url('images/the-rock-rock.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
}

.right {
    background-image: url("images/lethal-company-gaming.gif");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
}

.form {
    width: 40%;
    background-color: lightblue;
    background-image: url('images/chipi-chipi-chapa-chapa.gif');
}

.form form {
    display: flex;
    flex-direction: column;
}

.form form input {
    padding: 10px;
    margin: 5px;
    opacity: 0.5;
}

.gifs {
}

.gifs img{
    width: 1000px;
    height: 750px;
}

.ball {
    width: 1000px;
    height: 750px;
    position:absolute;

    animation: toRight linear 6.8s infinite alternate, bounce linear 17s infinite alternate;
}

@keyframes bounce {
    0% {
        top:0;
    }
    48% {
    }
    50% {
        top: calc(100% - 100px);
    }
    52% {
    }
    100% {
        top: 0;
    }
}

@keyframes toRight {

    0% {
        left: 0;
    }

    100% {
        left: calc(100% - 100px);
    }
}